.wrapper {
	margin: 15px 0;
	padding: var(--padding);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	width: 100%;
	background-color: var(--color-bg-base);
	box-shadow: var(--box-shadow);
}
