.wrapper {
	width: 100%;
	max-width: 65%;
	min-width: 960px;
	min-height: 100vh;
	margin: 0 auto;
	@media screen and (max-width: 1200px) {
		width: calc(100% - 30px);
		max-width: 100%;
	}
	@media screen and (max-width: 960px) {
		width: calc(100% - 30px);
	}

	.header {
		width: 100%;
		position: sticky;
		top: 5px;
		z-index: 100;
		margin: 15px 0 0;
	}

	.content {
		width: 100%;
	}
}

.sidebar {
	width: 100px;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 2000;

	@media screen and (max-width: 1200px) {
		display: none;
	}
}
