.wrapper {
	width: calc(100% - 350px);
	min-height: 100vh;
	margin: 0 auto;

	.header {
		width: 100%;
		position: sticky;
		top: 5px;
		z-index: 100;
	}

	.content {
		width: 100%;
	}
}

.sidebar {
	width: 100px;
	height: 100vh;
	position: fixed;
	top: 0;
}
