.wrapper {
	width: 100%;
	display: grid;
	gap: 20px;
	margin: 20px 0;

	@media screen and (max-width: 1200px) {
		grid-template-columns: 1fr;
	}

	.categoriesAndInformation {
		width: 100%;
		display: grid;
		gap: 20px;
		grid-template-columns: 3fr 1fr;
		align-items: start;

		.right,
		.left {
			display: grid;
			gap: 20px;
		}
	}
}
