.wrapper {
	margin: 0;
	padding: var(--padding);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	width: 100%;
	background-color: var(--color-bg-base);
	box-shadow: var(--box-shadow);
	display: inline-block;
	position: relative;

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
